<p>all-in-all-tutorial-with-comments works!</p>

<p>
    Aktualna data: {{date_message}}
</p>

<p>Wynik metody addTwoNumbers(1, 100)</p>
{{ addTwoNumbers(1, 100) }}

<p>Użycie wypisania ze "struktury" user poszczególnych pól</p>

<!-- <br> przejście do nowej lini -->
{{ user.name }} <br>  
{{ user.title }} <br>
{{ user.address }} <br>
<!-- hardcodowane wypisanie wartości z user.phone -->
{{ user.phone[0] }} <br>
{{ user.phone[1] }} <br>

<p>Utworzenie dwóch paragrafów z telefonem używając *ngFor</p>
<!-- Using *ngFor -->
<!-- *ngFor="let item of list" -->
<!-- 
    >let< jest to zmienna lokalna
    >item< dowolna nazwa tej zmiennej, 
    która będzie przyjmowała wartość z puli możliwych,
    czyli >user.phone< 
    Następnie wyświetlamy ją używając danej zmiennej, tj. {{ item }}        
-->
<p *ngFor="let item of user.phone">{{ item }}</p>

<!-- Using *ngIf -->
<!-- *ngIf="expression" -->
<!-- zmienna learning_ngIf znajduje się w pliku all-in-all-tutorial-with-comments.component.ts -->
<div>
    <div *ngIf="learning_ngIf > 0">
        <p> spełniony warunek </p>
    </div>
    <div *ngIf="learning_ngIf == 0 ">
        <p> nie spełniony warunek </p>
    </div>
</div>

<!-- inputedTextToDisplay łączy się z app.component.html oraz z Using @Input -> plik .ts-->
<!-- Using @Input -->
{{ inputedTextToDisplay }}

<br>
<!-- tekst, który znika i pojawia się -->
<!-- wykorzystanie eventów -->
<button (click)="toggleCollapse()">Pojaw się/Zniknij</button>
<div *ngIf="!isCollapsed">
    królik
</div>

<br><br><br>
<!-- Two way data binding with ngModel, sprawdz również app.module.ts -->
<!-- [] oznacza aby poszukiwać zmiennej "intputedText" w komponencie -->
<!-- działa tylko w jedną strone - odczytuje  -->

<!-- <input type="text" [ngModel]="inputedText">  -->

<!-- natomiast [()] działa w dwie strony ;) -->

<!-- kojarzysz (click) ? 
    działało na property w komponencie dopiero po wykonaniu czynnosci - czyli kliknieciu 
    [] dziła tylko w chwili wygenerowania, czyli pobiera z komponentu i już
    combo [()] pozwala na komunikację w dwie strony :-)
    [(ngModel)]="binding"
-->
<input type="text" [(ngModel)]="inputedText">
{{ inputedText }}

<br><br>
<!-- GET -->
<!-- w input w .HTML możesz wpisać mój login: AKrupaa -->
User name: <input type="text" [(ngModel)]="userName">
<button (click) = "search()">Search</button>
<!-- Można zadziałać za pomocą *ngIf lub używając response?.login -->
<!-- <div *ngIf="response"> -->
    <!-- Jeżeli response is undefined nawet nie próbuj dostać się do .login, 
        tyle oznacza ten znak zapytania (?) -->
    <!-- Oczywiście w tym wypadku *ngIf jest lepszą opcją, ponieważ nie będziemy widzieć
    tych paragrafów pustych! Sprawdź to samemu ;) -->
    <p>Login: {{ response?.login }}</p>
    <p>ID: {{ response?.id }}</p>
    <p>Followers: {{ response?.followers }}</p>
    <p>Updated_at: {{ response?.updated_at }}</p>
<!-- </div> -->



